@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome To RNtN Blazor.</h1>

<div>
	A Blazor app version of RNtN Console. (console app of conversion of roman numerals to numbers)
</div>

<div>
	About 
	<NavLink href="about">RNtN Blazor</NavLink>
</div>	
